@    using Blazorise.DataGrid
@    using AniMedia.Domain.Models.Sessions.Dtos

<div class="container">
    <h3>Активные сессии</h3>

    @if (_sessions == null) {
        <LoadComponent/>
    }
    else {
        <DataGrid
            TItem="SessionDto"
            Data="@_sessions"
            ShowPager
            PageSize="10"
            RowSelectable="@(_ => false)"
            RowHoverCursor="@(_ => Cursor.Default)"
            PagerPosition="DataGridPagerPosition.Bottom"
            PagerOptions="new DataGridPagerOptions { ButtonSize = Size.Small }">
            <DataGridCommandColumn/>

            <DataGridColumn Field="@nameof(SessionDto.Uid)" Sortable="false" Caption="Uid"/>
            <DataGridColumn Field="@nameof(SessionDto.UserAgent)" Caption="Юзер агент"/>
            <DataGridColumn Field="@nameof(SessionDto.CreateAt)" Caption="Дата создания"/>
            <DataGridColumn Field="@nameof(SessionDto.Ip)" Caption="Ip адрес"/>
            <DataGridColumn
                TItem="SessionDto">
                <DisplayTemplate>
                    @{
                        var allowedToRemove = context.Uid.Equals(_currentSession?.Uid ?? Guid.Empty) == false;

                        if (allowedToRemove) {
                            <button
                                type="button"
                                class="btn-close btn-close-danger"
                                aria-label="Close"
                                @onclick='() => CloseSession(context.Uid)'>
                            </button>
                        }
                        else {
                            <button
                                type="button"
                                class="btn-close"
                                aria-label="Close"
                                disabled>
                            </button>
                        }
                    }
                </DisplayTemplate>
            </DataGridColumn>
        </DataGrid>
    }
</div>